footer {
  background-color: $bleu;
  border-radius: 100px 0px 0px 0px;
  padding-top: 20px;
  font-family: "Catamaran", sans-serif;
  @media (max-width: 640px) {
    border-radius: 0px 0px 0px 0px;
  }

  .menu_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 640px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    img {
      margin-left: 10%;
      @media (max-width: 640px) {
        margin-left: 0%;
        width: 40%;
        height: auto;
      }
    }
    &_liens {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 8%;
      width: 60%;
      @media (max-width: 640px) {
        display: none;
      }
      .lien {
        position: relative;
        a {
          font-size: 20px;
          color: white;
          text-decoration: none;
        }
        &::before {
          position: absolute;
          bottom: 90px;
          left: 0;
          content: "";
          height: 6px;
          width: 30px;
          background: $jaune;
          border-radius: 5px;
          z-index: 5;
          transition: 0.4s;
          @media (max-width: 640px) {
            display: none;
          }
        }
        &:hover:before {
          left: 80%;
        }
      }
    }
  }
  .lien_footer {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 10%;
    color: white;
    font-size: 20px;
    @media (max-width: 640px) {
      flex-direction: column;
    }
    .colonne1 {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      hr {
        display: none;
        @media (max-width: 640px) {
          display: block;
          width: 100%;
          height: 4px;
          border: none;
          background-color: white;
          border-radius: 2px;
        }
      }
    }
    .colonne2 {
      margin-left: 40px;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      @media (max-width: 640px) {
        margin-left: 0px;
        margin-top: 0px;
      }
      hr {
        display: none;
        @media (max-width: 640px) {
          display: block;
          width: 100%;
          height: 4px;
          border: none;
          background-color: white;
          border-radius: 2px;
        }
      }
    }
    .image {
      display: flex;
      justify-content: right;
      @media (max-width: 640px) {
        justify-content: center;
        margin-top: 30px;
      }
      img {
        height: 80%;
        width: auto;
        @media (max-width: 640px) {
          width: 80%;
          height: auto;
          margin-left: 20%;
        }
      }
    }
  }
  .nous_suivre {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 10%;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    @media (max-width: 640px) {
      width: 100%;
      margin-left: 0;
    }
    p {
      display: block;
      @media (max-width: 640px) {
        display: none;
      }
    }
    .resaux {
      display: flex;
      flex-direction: row;
      color: white;
      justify-content: flex-start;
      align-items: flex-start;
      @media (max-width: 640px) {
        align-items: center;
        justify-content: center;
      }
      .resau {
        width: 10%;
        height: auto;
        align-items: flex-start;
        @media (max-width: 640px) {
          width: 20%;
          text-align: center;
        }
        svg {
          fill: white;
          width: 50%;
          height: auto;
        }
      }
    }
  }
  .copyright {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
