header {
  font-family: "Catamaran", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .menu_burger {
    display: none;
    @media (max-width: 640px) {
      cursor: pointer;
      display: block;
      margin-top: -30px;
      margin-left: 20px;
    }
  }
  .logo {
    padding-left: 5%;
    width: 15%;
    height: auto;
    margin: 20px 0;
    @media (max-width: 640px) {
      padding-left: 0%;
      width: 20%;
      height: auto;
    }
  }
  .menu {
    width: 60%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    @media (max-width: 640px) {
      justify-content: flex-end;
      align-items: flex-start;
      margin-top: 10px;
      margin-right: 10px;
      width: auto;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:first-child {
        display: flex;
        align-self: flex-end;
      }
      a:first-child {
        text-decoration: none;
        font-size: 20;
        color: black;
      }
      a:last-child {
        text-decoration: none;
        color: black;
        font-size: 30px;
      }
      &:not(:last-child) {
        @media (max-width: 640px) {
          display: none;
        }
      }
      &:last-child {
        > img {
          @media (max-width: 640px) {
            display: none;
          }
        }
      }
    }
    div:last-child {
      margin-bottom: 15px;
      img:first-child {
        width: 40%;
        height: auto;
      }
      button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        background-color: black;
        color: white;
        border-radius: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
      }
    }
  }
  @media (max-width: 640px) {
    .menu {
      > * {
        display: none;
      }
    }
  }
  .menu_burger_content {
    transform: translateY(-100%);
    background-color: $bleu;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-top: 20px;
    z-index: 20;
    .logo_burger {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 20px;
      margin-right: 20px;
      img {
        width: 10%;
        height: 10%;
        cursor: pointer;
      }
    }
    .lien1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        font-size: 25px;
        text-decoration: none;
        color: white;
      }
    }
    .boutton {
      display: flex;
      flex-direction: row;
      padding-top: 30px;
      justify-content: center;
      align-items: center;
      button {
        background-color: white;
        border-radius: 20px;
        font-size: 20px;
        padding: 5px 2px 2px 5px;
        color: #000;
        border: none;
      }
    }
    .lien2 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 20px;
      padding-top: 30px;
      .lien {
        a {
          position: relative;
          font-size: 20px;
          align-items: flex-start;
          text-decoration: none;
          color: white;
          &:hover {
            &:before {
              width: 100%;
            }
          }
        }
        a::before {
          position: absolute;
          bottom: 0px;
          left: 0;
          content: "";
          height: 6px;
          width: 30px;
          background: $jaune;
          border-radius: 5px;
          z-index: 5;
          transition: 0.4s;
        }
      }
    }
    .logo_blanc {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 30px;
    }
    .resaux {
      display: flex;
      flex-direction: row;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-left: 20%;
      width: 60%;
      justify-content: space-between;
      .resau {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          fill: white;
          width: 40%;
          height: auto;
        }
      }
    }
    &.open {
      animation: open ease-in 400ms forwards;
    }
    &.close {
      animation: close ease-in 400ms forwards;
    }
    @keyframes open {
      from {
        display: block;
        transform: translateY(-100%);
      }
      to {
        transform: translateY(0);
      }
    }
    @keyframes close {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(-100%);
        display: none;
      }
    }
  }
}
