<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./dist/main.css" />
</head>
<body>
  <section>
    <div class="container-section">
      <div class="header-section">
        <h2>Actualités</h2>
      </div>
      <div class="container-flex">
        <div class="element-flex">
          <div class="container-img">
            <img
              src="./assets/img/desktop/descenteEscalier.png"
              alt="Une image de coureur qui descendent des escaliers"
            />
          </div>
          <div class="container-text">
            <p class="date">12 juillet 2021</p>
            <h3>1ère reconnaissance</h3>
            <p>
              Temps idéal pour profiter de notre <br />
              patrimoine lors de cette première reco: <br />
              l'Urban, 9km, 27 coureurs sont venus, <br />
              merci !
            </p>
          </div>
        </div>
        <div class="element-flex">
          <div class="container-img">
            <img
              src="./assets/img/desktop/hommeNoirCourse.png"
              alt="Un homme déterminé qui court"
            />
          </div>
          <div class="container-text">
            <p class="date">12 juillet 2021</p>
            <h3>Plan d'entraînement</h3>
            <p>
              Voici des plans proposés par Raphaël <br />
              Benezit pour la participation à la <br />
              23ème Edition Des Foulées et aux <br />
              24km de le Puy Urban Trail
            </p>
          </div>
        </div>
        <div class="element-flex">
          <div class="container-img">
            <img
              src="./assets/img/desktop/courseHerbe.png"
              alt="Une course dans l'herbe"
            />
          </div>
          <div class="container-text">
            <p class="date">12 juillet 2021</p>
            <h3>
              Le puy Urban Trail est <br />
              reporté
            </h3>
            <p>
              Tant que le confinement est de rigueur: <br />
              faites un peu de sport et n'oubliez pas: <br />
              ON RESTE CHEZ SOI !
            </p>
          </div>
        </div>
      </div>
      <div class="container-seeMore">
        <a href="#" class="seeMore">Voir plus</a>
      </div>
    </div>
  </section>
</body>
