<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./dist/main.css" />
</head>
<body>
  <section>
    <div class="container-image">
      <img
        class="desChiffresFond"
        src="./assets/img/desktop/desChiffresFond.jpg"
        alt=""
      />
      <div class="superposition"></div>
      <div class="flex-chiffres">
        <div class="bloc-chiffre">
          <p class="chiffre">63</p>
          <p class="donnees">participants</p>
        </div>
        <div class="bloc-chiffre">
          <p class="chiffre">53</p>
          <p class="donnees">kilometres</p>
        </div>
        <div class="bloc-chiffre">
          <p class="chiffre">33</p>
          <p class="donnees">benevoles</p>
        </div>
      </div>
    </div>
  </section>
</body>
