<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./dist/main.css" />
</head>
<body>
  <section>
    <div class="container-image">
      <img
        class="desChiffresFond"
        src="./assets/img/desktop/élément-du-puy.png"
        alt="elements de décor emblématiques du Puy-en-Velay"
      />
      <p class="aout">28 / 29 août</p>
    </div>
  </section>
</body>
