<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./dist/main.css" />
</head>
<body>
  <section>
    <div class="container-section">
      <div class="header-section">
        <h2>L'évènement</h2>
        <p>
          Le Puy Urban Trail a pour objectif de faire (re)découvrir le
          Puy-en-Velay et ses environs <br />
          différemment, à travers des courses et randonnées pédestres. Les
          accompagnateurs pourront <br />
          également bénéficier d'activités dédiées.
        </p>
      </div>
      <div class="container-flex">
        <div class="element-flex">
          <div class="container-img">
            <img
              src="./assets/img/desktop/lePuy.png"
              alt="Une belle image du Puy-en-Velay la nuit"
            />
          </div>
          <div class="container-text">
            <h3>
              Découvrez le <br />
              patrimoine
            </h3>
            <p>
              Les parcours passent à proximité ou <br />
              traversent des lieux emblématiques du <br />
              Puy ! Cet évènement permet de les <br />
              découvrir ou de les redécouvrir
            </p>
            <button>+</button>
          </div>
        </div>
        <div class="element-flex">
          <div class="container-img">
            <img
              src="./assets/img/desktop/femmeQuiLeveLesMains.jpg"
              alt="Une femme qui est heureuse de courrir"
            />
          </div>
          <div class="container-text">
            <h3>Venez accompagnés</h3>
            <p>
              Les accompagnateurs pourront voir les <br />
              participants sur le village-course mais <br />
              également sur différents lieux des <br />
              parcours dont au Stade Massot dans
            </p>
            <button>+</button>
          </div>
        </div>
        <div class="element-flex">
          <div class="container-img">
            <img
              src="./assets/img/desktop/leDepart.jpg"
              alt="Un départ de course"
            />
          </div>
          <div class="container-text">
            <h3>
              Limitons l'impact <br />
              environnemental
            </h3>
            <p>
              Nous tentons d'avoir une approche la <br />
              plus éco-responsable possible. Le <br />
              village-course est proche de la gare, <br />
              de nombreux parkings sont disponibles
            </p>
            <button>+</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
