body {
  margin: 0;
  padding: 0;
}
.container-header {
  display: flex;
}
.container-header > div {
  width: 50%;
}
.conteneur-image {
  position: relative;
}
.conteneur-image img {
  width: 100%;
}
.bleu {
  width: 50%;

  float: right;
  border-radius: 0 0 200px 0;
  background-color: #3c6bb3;
}
.titrenathan {
  padding-left: 8%;
  font-family: "Womby", sans-serif;
  color: white;
  font-size: 3em;
}
.datenathan {
  padding-left: 5%;
  font-family: "Catamaran", sans-serif;
  color: white;
  font-size: 1em;
}

.datenathan {
  padding-left: 10%;
  font-family: "Catamaran", sans-serif;
  color: white;

  font-size: 16px;
}
.decouverte {
  color: white;
}
.decouverte:before {
  content: "";
  display: block;
  float: left;
  height: 2px;
  width: 20px;
  background-color: white;
  margin-top: 13px;
  margin-right: 4px;
}

.textenathan {
  color: white;
  font-family: "Catamaran", sans-serif;
  font-size: min(1vw, 0.8em);
  padding-left: 8%;
  max-width: 60%;
  line-height: 1.6em;
}

.date28 {
  font-family: "Catamaran", sans-serif;
  font-size: 50px;
  color: white;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.date29 {
  font-family: "Catamaran", sans-serif;
  font-size: 50px;
  color: white;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.test:before {
  position: absolute;
  content: "";
  display: inline;
  height: 3px;
  width: 50px;
  background-color: white;
}

.aout2021 {
  font-family: "Catamaran", sans-serif;
  font-size: 50px;
  color: white;
  position: absolute;
  letter-spacing: 4px;
}
.container-aout {
  position: absolute;
  top: 0;
  left: 10%;
}

/* grille activitÃ© */
.box {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(600px, 800px);
}
