<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./dist/main.css" />
</head>
<body>
  <section>
    <div class="container-section">
      <div class="header-section">
        <h2>Les epreuves</h2>
        <p>
          Découvrez les 5 épreuves concoctées cette année, au programme il y en
          a pour tous les niveaux. <br />
          Les épreuves sont une ode à la découverte du Puy-enVelay et ses
          alentours, les monuments et <br />
          les paysages vous entoureront lors de cette deuxième édition de
          l'urban trail.<br />
          Alors à vos baskets, prêt ! Réservez !
        </p>
      </div>
      <div class="epreuves-section">
        <div class="epreuve">
          <p class="p-yellow">
            <span class="underline-span urban-yellow">L'urban</span> : 10km -
            250d+
          </p>
        </div>
        <div class="epreuve">
          <p class="p-blue">
            Le tour <span class="underline-span dupuy-blue">du puy</span> : 18km
            - 400d+
          </p>
        </div>
        <div class="epreuve">
          <p class="p-red">
            Les <span class="underline-span seigneurs-red">seigneurs</span> 27km
            - 800d+
          </p>
        </div>
        <div class="epreuve">
          <p class="p-purple">
            <span class="underline-span kids-violet">Kids</span> Urban Trail
          </p>
        </div>
        <div class="epreuve">
          <p class="p-green">
            <span class="underline-span lesran-green">Les ran</span>données -
            6km ou 13km
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
