<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./main.css" />
</head>
<body>
  <header>
    <img
      class="menu_burger"
      id="menu_burger"
      src="./assets/img/mobile/bouton.png"
      alt="bouton menu mobile"
    />
    <img class="logo" src="./assets/img/desktop/logocouleur.png" alt="logo Urban Trail" />
    <div class="menu">
      <div>
        <a href="./index.html"><strong>Accueil</strong></a>
      </div>
      <div>
        <a href="">Devenir bénévole</a>
        <a href=""><strong>Les épreuves</strong></a>
      </div>
      <div>
        <a href="">Devenir Partenaire</a>
        <a href=""><strong>Infos pratique</strong></a>
      </div>
      <div>
        <a href="">Contact</a>
        <a href=""><strong>Evénements</strong></a>
      </div>
      <div>
        <img src="./assets/img/desktop/noun_Search_-1.png" alt="bouton rechercher" />
        <button>
          <img src="./assets/img/desktop/noun_Moon_-1.png" alt="bouton mode nuit" /> nuit
        </button>
      </div>
    </div>
    <div class="menu_burger_content" id="menu_burger_content">
      <div>
        <div class="logo_burger">
          <img
            src="./assets/img/desktop/noun_Cross_2014891.png"
            alt="fermer le menu"
            id="menu_burger_content_close"
          />
          <img src="./assets/img/desktop/noun_Search_-1.png" alt="bouton recherche" />
        </div>
        <div class="lien1">
          <a href=""><strong>Accueil</strong></a>
          <a href=""><strong>Les épreuves</strong></a>
          <a href=""><strong>Infos pratique</strong></a>
          <a href=""><strong>Evénements</strong></a>
        </div>
        <div class="boutton">
          <button><strong>Inscrivez-vous</strong></button>
        </div>
        <div class="lien2">
          <div class="lien">
            <a href="">Devenir bénévole</a>
          </div>
          <div class="lien">
            <a href="">Devenir Partenaire</a>
          </div>
          <div class="lien">
            <a href="">Contact</a>
          </div>
        </div>
        <div class="logo_blanc">
          <img src="./assets/img/desktop/logoblanc.png" alt="logo blanc Urban Trail" />
        </div>
        <div class="resaux">
          <div class="resau">
            <svg
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 455 455"
              style="enable-background: new 0 0 455 455"
              xml:space="preserve"
            >
              <path
                style="fill-rule: evenodd; clip-rule: evenodd"
                d="M0,0v455h455V0H0z M301.004,125.217H265.44
          c-7.044,0-14.153,7.28-14.153,12.696v36.264h49.647c-1.999,27.807-6.103,53.235-6.103,53.235h-43.798V385h-65.266V227.395h-31.771
          v-53.029h31.771v-43.356c0-7.928-1.606-61.009,66.872-61.009h48.366V125.217z"
              />
            </svg>
          </div>
          <div class="resau">
            <svg
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.3183118,0.0772036939 C18.5358869,0.132773211 19.3775594,0.311686093 20.156489,0.614412318 C20.9357539,0.917263935 21.5259307,1.30117806 22.1124276,1.88767349 C22.6988355,2.47414659 23.0827129,3.06422396 23.3856819,3.84361655 C23.688357,4.62263666 23.8672302,5.46418415 23.9227984,6.68172489 C23.9916356,8.19170553 24,8.72394829 24,11.9999742 C24,15.2760524 23.9916355,15.808302 23.9227954,17.3182896 C23.8672306,18.5358038 23.6883589,19.3773584 23.3855877,20.1566258 C23.0826716,20.9358162 22.6987642,21.5259396 22.1124276,22.1122749 C21.5259871,22.6987804 20.9357958,23.0827198 20.1563742,23.3856323 C19.3772192,23.6883583 18.5357324,23.8672318 17.3183209,23.9227442 C15.8086874,23.9916325 15.2765626,24 12,24 C8.72343739,24 8.19131258,23.9916325 6.68172382,23.9227463 C5.46426077,23.8672314 4.62270711,23.6883498 3.84342369,23.3855738 C3.0641689,23.0827004 2.47399369,22.6987612 1.88762592,22.1123283 C1.30117312,21.525877 0.91721975,20.9357071 0.614318116,20.1563835 C0.311643016,19.3773633 0.132769821,18.5358159 0.0772038909,17.3183251 C0.0083529426,15.8092887 0,15.2774634 0,11.9999742 C0,8.7225328 0.00835296697,8.19071076 0.0772047368,6.68165632 C0.132769821,5.46418415 0.311643016,4.62263666 0.614362729,3.84350174 C0.91719061,3.06430165 1.30113536,2.4741608 1.88757245,1.88772514 C2.47399369,1.30123879 3.0641689,0.917299613 3.84345255,0.614414972 C4.62236201,0.311696581 5.46409415,0.132773979 6.68163888,0.0772035898 C8.19074867,0.00835221992 8.72252573,0 12,0 C15.2774788,0 15.8092594,0.00835235053 17.3183118,0.0772036939 Z M12,2.66666667 C8.75959504,2.66666667 8.26400713,2.67445049 6.80319929,2.74109814 C5.87614637,2.78341009 5.31952221,2.90172878 4.80947575,3.09995521 C4.37397765,3.26922052 4.09725505,3.44924273 3.77324172,3.77329203 C3.44916209,4.09737087 3.26913181,4.37408574 3.09996253,4.80937168 C2.90169965,5.31965737 2.78340891,5.87618164 2.74109927,6.80321713 C2.67445122,8.26397158 2.66666667,8.75960374 2.66666667,11.9999742 C2.66666667,15.2403924 2.67445121,15.7360281 2.74109842,17.1967643 C2.78340891,18.1238184 2.90169965,18.6803426 3.09990404,19.1904778 C3.26914133,19.6259017 3.44919889,19.9026659 3.77329519,20.2267614 C4.09725505,20.5507573 4.37397765,20.7307795 4.80932525,20.8999863 C5.31971515,21.0982887 5.87621193,21.2165784 6.80323907,21.2588497 C8.26460439,21.3255353 8.76051223,21.3333333 12,21.3333333 C15.2394878,21.3333333 15.7353956,21.3255353 17.1968056,21.2588476 C18.123775,21.216579 18.6802056,21.0982995 19.1905083,20.9000309 C19.6260288,20.7307713 19.9027426,20.5507596 20.2267583,20.226708 C20.5507492,19.9027179 20.7308046,19.6259456 20.9000375,19.1906283 C21.0983009,18.6803412 21.2165908,18.1238118 21.2588986,17.196779 C21.3255376,15.7350718 21.3333333,15.2390126 21.3333333,11.9999742 C21.3333333,8.76098665 21.3255376,8.26493375 21.2589016,6.80323567 C21.2165911,5.87618164 21.0983004,5.31965737 20.9001178,4.80957831 C20.7308131,4.37403932 20.550774,4.09729207 20.2267583,3.77324038 C19.9027658,3.44924868 19.6260264,3.26922777 19.1905015,3.09996643 C18.6803988,2.90171817 18.1238378,2.78341062 17.1967608,2.74109868 C15.7359966,2.67445057 15.2404012,2.66666667 12,2.66666667 Z M12,18.2222222 C8.56356156,18.2222222 5.77777778,15.4364384 5.77777778,12 C5.77777778,8.56356156 8.56356156,5.77777778 12,5.77777778 C15.4364384,5.77777778 18.2222222,8.56356156 18.2222222,12 C18.2222222,15.4364384 15.4364384,18.2222222 12,18.2222222 Z M12,15.5555556 C13.9636791,15.5555556 15.5555556,13.9636791 15.5555556,12 C15.5555556,10.0363209 13.9636791,8.44444444 12,8.44444444 C10.0363209,8.44444444 8.44444444,10.0363209 8.44444444,12 C8.44444444,13.9636791 10.0363209,15.5555556 12,15.5555556 Z M18.2222222,7.11111111 C17.4858426,7.11111111 16.8888889,6.51415744 16.8888889,5.77777778 C16.8888889,5.04139811 17.4858426,4.44444444 18.2222222,4.44444444 C18.9586019,4.44444444 19.5555556,5.04139811 19.5555556,5.77777778 C19.5555556,6.51415744 18.9586019,7.11111111 18.2222222,7.11111111 Z"
              />
            </svg>
          </div>
          <div class="resau">
            <svg
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 310 310"
              style="enable-background: new 0 0 310 310"
              xml:space="preserve"
            >
              <g id="XMLID_822_">
                <path
                  id="XMLID_823_"
                  d="M297.917,64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359,0-61.369,5.776-72.517,19.938
          C0,79.663,0,100.008,0,128.166v53.669c0,54.551,12.896,82.248,83.386,82.248h143.226c34.216,0,53.176-4.788,65.442-16.527
          C304.633,235.518,310,215.863,310,181.835v-53.669C310,98.471,309.159,78.006,297.917,64.645z M199.021,162.41l-65.038,33.991
          c-1.454,0.76-3.044,1.137-4.632,1.137c-1.798,0-3.592-0.484-5.181-1.446c-2.992-1.813-4.819-5.056-4.819-8.554v-67.764
          c0-3.492,1.822-6.732,4.808-8.546c2.987-1.814,6.702-1.938,9.801-0.328l65.038,33.772c3.309,1.718,5.387,5.134,5.392,8.861
          C204.394,157.263,202.325,160.684,199.021,162.41z"
                />
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="container-page-epreuve1">
      <div class="bloc-img-urban">
        <img
          src="./assets/img/desktop/leDepart.jpg"
          alt="départ de l'urban trail"
        />
        <div class="container-h1">
          <h1>L'urban</h1>
        </div>
      </div>
      <div class="urban-flex-container">
        <div class="urban-flex bloc1">
          <h2>10km - 250d+</h2>
          <p class="facile-ideal">
            Facile / idéal pour tester <br />
            son niveau
          </p>
          <br />
          <p>
            Vous partirez à la (re)découverte du patrimoine de la ville de Le
            Puy- en-Velay et des communes voisines d'Espaly et d'Aiguilhe. Idéal
            pour venir découvrir l'Urban Trail, ce parcours permettra aussi aux
            coureurs plus expérimentés de ce faire sur une courte<br />
            distance.
          </p>
          <p>Une expérience sportive et culturelle accessible à tous !</p>
          <p>
            Les étapes incontournables du parcours "L'Urban" : Le sanctuaire
            Saint-Joseph d'Espaly, Le Rocher d'Aiguilhe, La vierge du
            Puy-en-Velay
          </p>
          <br />
          <p>Le Départ et l'Arrivée s'effectueront au Jardin Henri-Vinay</p>
          <br />
          <div class="social-medias">
            <span class="share-social">Partager</span>
            <div class="reseaux">
              <div class="reseau">
                <svg
                  version="1.1"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 455 455"
                  style="enable-background: new 0 0 455 455"
                  xml:space="preserve"
                >
                  <path
                    style="fill-rule: evenodd; clip-rule: evenodd"
                    d="M0,0v455h455V0H0z M301.004,125.217H265.44
              c-7.044,0-14.153,7.28-14.153,12.696v36.264h49.647c-1.999,27.807-6.103,53.235-6.103,53.235h-43.798V385h-65.266V227.395h-31.771
              v-53.029h31.771v-43.356c0-7.928-1.606-61.009,66.872-61.009h48.366V125.217z"
                  />
                </svg>
              </div>
              <div class="reseau">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M17.3183118,0.0772036939 C18.5358869,0.132773211 19.3775594,0.311686093 20.156489,0.614412318 C20.9357539,0.917263935 21.5259307,1.30117806 22.1124276,1.88767349 C22.6988355,2.47414659 23.0827129,3.06422396 23.3856819,3.84361655 C23.688357,4.62263666 23.8672302,5.46418415 23.9227984,6.68172489 C23.9916356,8.19170553 24,8.72394829 24,11.9999742 C24,15.2760524 23.9916355,15.808302 23.9227954,17.3182896 C23.8672306,18.5358038 23.6883589,19.3773584 23.3855877,20.1566258 C23.0826716,20.9358162 22.6987642,21.5259396 22.1124276,22.1122749 C21.5259871,22.6987804 20.9357958,23.0827198 20.1563742,23.3856323 C19.3772192,23.6883583 18.5357324,23.8672318 17.3183209,23.9227442 C15.8086874,23.9916325 15.2765626,24 12,24 C8.72343739,24 8.19131258,23.9916325 6.68172382,23.9227463 C5.46426077,23.8672314 4.62270711,23.6883498 3.84342369,23.3855738 C3.0641689,23.0827004 2.47399369,22.6987612 1.88762592,22.1123283 C1.30117312,21.525877 0.91721975,20.9357071 0.614318116,20.1563835 C0.311643016,19.3773633 0.132769821,18.5358159 0.0772038909,17.3183251 C0.0083529426,15.8092887 0,15.2774634 0,11.9999742 C0,8.7225328 0.00835296697,8.19071076 0.0772047368,6.68165632 C0.132769821,5.46418415 0.311643016,4.62263666 0.614362729,3.84350174 C0.91719061,3.06430165 1.30113536,2.4741608 1.88757245,1.88772514 C2.47399369,1.30123879 3.0641689,0.917299613 3.84345255,0.614414972 C4.62236201,0.311696581 5.46409415,0.132773979 6.68163888,0.0772035898 C8.19074867,0.00835221992 8.72252573,0 12,0 C15.2774788,0 15.8092594,0.00835235053 17.3183118,0.0772036939 Z M12,2.66666667 C8.75959504,2.66666667 8.26400713,2.67445049 6.80319929,2.74109814 C5.87614637,2.78341009 5.31952221,2.90172878 4.80947575,3.09995521 C4.37397765,3.26922052 4.09725505,3.44924273 3.77324172,3.77329203 C3.44916209,4.09737087 3.26913181,4.37408574 3.09996253,4.80937168 C2.90169965,5.31965737 2.78340891,5.87618164 2.74109927,6.80321713 C2.67445122,8.26397158 2.66666667,8.75960374 2.66666667,11.9999742 C2.66666667,15.2403924 2.67445121,15.7360281 2.74109842,17.1967643 C2.78340891,18.1238184 2.90169965,18.6803426 3.09990404,19.1904778 C3.26914133,19.6259017 3.44919889,19.9026659 3.77329519,20.2267614 C4.09725505,20.5507573 4.37397765,20.7307795 4.80932525,20.8999863 C5.31971515,21.0982887 5.87621193,21.2165784 6.80323907,21.2588497 C8.26460439,21.3255353 8.76051223,21.3333333 12,21.3333333 C15.2394878,21.3333333 15.7353956,21.3255353 17.1968056,21.2588476 C18.123775,21.216579 18.6802056,21.0982995 19.1905083,20.9000309 C19.6260288,20.7307713 19.9027426,20.5507596 20.2267583,20.226708 C20.5507492,19.9027179 20.7308046,19.6259456 20.9000375,19.1906283 C21.0983009,18.6803412 21.2165908,18.1238118 21.2588986,17.196779 C21.3255376,15.7350718 21.3333333,15.2390126 21.3333333,11.9999742 C21.3333333,8.76098665 21.3255376,8.26493375 21.2589016,6.80323567 C21.2165911,5.87618164 21.0983004,5.31965737 20.9001178,4.80957831 C20.7308131,4.37403932 20.550774,4.09729207 20.2267583,3.77324038 C19.9027658,3.44924868 19.6260264,3.26922777 19.1905015,3.09996643 C18.6803988,2.90171817 18.1238378,2.78341062 17.1967608,2.74109868 C15.7359966,2.67445057 15.2404012,2.66666667 12,2.66666667 Z M12,18.2222222 C8.56356156,18.2222222 5.77777778,15.4364384 5.77777778,12 C5.77777778,8.56356156 8.56356156,5.77777778 12,5.77777778 C15.4364384,5.77777778 18.2222222,8.56356156 18.2222222,12 C18.2222222,15.4364384 15.4364384,18.2222222 12,18.2222222 Z M12,15.5555556 C13.9636791,15.5555556 15.5555556,13.9636791 15.5555556,12 C15.5555556,10.0363209 13.9636791,8.44444444 12,8.44444444 C10.0363209,8.44444444 8.44444444,10.0363209 8.44444444,12 C8.44444444,13.9636791 10.0363209,15.5555556 12,15.5555556 Z M18.2222222,7.11111111 C17.4858426,7.11111111 16.8888889,6.51415744 16.8888889,5.77777778 C16.8888889,5.04139811 17.4858426,4.44444444 18.2222222,4.44444444 C18.9586019,4.44444444 19.5555556,5.04139811 19.5555556,5.77777778 C19.5555556,6.51415744 18.9586019,7.11111111 18.2222222,7.11111111 Z"
                  />
                </svg>
              </div>
              <div class="reseau">
                <svg
                  version="1.1"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 310 310"
                  style="enable-background: new 0 0 310 310"
                  xml:space="preserve"
                >
                  <g id="XMLID_822_">
                    <path
                      id="XMLID_823_"
                      d="M297.917,64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359,0-61.369,5.776-72.517,19.938
              C0,79.663,0,100.008,0,128.166v53.669c0,54.551,12.896,82.248,83.386,82.248h143.226c34.216,0,53.176-4.788,65.442-16.527
              C304.633,235.518,310,215.863,310,181.835v-53.669C310,98.471,309.159,78.006,297.917,64.645z M199.021,162.41l-65.038,33.991
              c-1.454,0.76-3.044,1.137-4.632,1.137c-1.798,0-3.592-0.484-5.181-1.446c-2.992-1.813-4.819-5.056-4.819-8.554v-67.764
              c0-3.492,1.822-6.732,4.808-8.546c2.987-1.814,6.702-1.938,9.801-0.328l65.038,33.772c3.309,1.718,5.387,5.134,5.392,8.861
              C204.394,157.263,202.325,160.684,199.021,162.41z"
                    />
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="urban-flex bloc2">
          <p>Date et heure de départ</p>
          <p>Dimanche 29 aout a 9h45.</p>
          <p>Lieu de départ</p>
          <p>
            Le puy en velay <br />
            Jardin Henry-Vinay
          </p>
          <p>Distance</p>
          <p>10km - 250d+</p>
          <p>Parcours</p>
          <button>telecharger le parcours</button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-medical">
      <div class="flex-epreuve">
        <div class="bloc-epreuve">
          <h2>Certificat medical</h2>
          <p>
            Téléchargez le certificat médical à faire remplir par votre médecin,
            précisant la mention obligatoire de "non contre-indication à la
            pratique d'un sport de compétition."
          </p>
          <br />
          <p>
            Pour les mineurs, il faudra toutefois présenter une autorisation
            parentale que vous pouvez ci-dessous
          </p>
          <a class="telecharger certificat">Telecharger le certificat</a>
        </div>
        <div class="image-epreuve">
          <img
            src="./assets/img/desktop/mecNoir.jpg"
            alt="un coureur de l'Urban Trail"
          />
        </div>
      </div>
    </div>
    <div class="container-medical">
      <div class="flex-epreuve reverse">
        <div class="image-epreuve">
          <img
            src="./assets/img/desktop/personnesOranges.jpg"
            alt="une association Urban Trail"
          />
        </div>
        <div class="bloc-epreuve">
          <h2>Inscriptions</h2>
          <p>
            Le tarif est de 11€ jusqu'au jeudi 15 juillet 23h59 (+1€ de frais
            d'inscription);13€ jusqu'au vendredi 27 aout 2021 midi (+1€ de frais
            d'inscription). L'inscription sur place dera possible avec une
            majoration de 3€ soit 16€.
          </p>
          <p>
            Afin de limiter les rassemblements le jour de l'épreuve, merci de
            privilégier l'inscription en ligne.
          </p>
          <p>Cliquez ci-dessous pour vous inscrire</p>
          <a class="telecharger formulaire">
            Telecharger le formulaire d'inscription
          </a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-section">
      <div class="epreuves-section">
        <div class="epreuve">
          <p class="p-blue">
            Le tour <span class="underline-span dupuy-blue">du puy</span> : 18km
            - 400d+
          </p>
        </div>
        <div class="epreuve">
          <p class="p-red">
            Les <span class="underline-span seigneurs-red">seigneurs</span> 27km
            - 800d+
          </p>
        </div>
        <div class="epreuve">
          <p class="p-purple">
            <span class="underline-span kids-violet">Kids</span> Urban Trail
          </p>
        </div>
        <div class="epreuve">
          <p class="p-green">
            <span class="underline-span lesran-green">Les ran</span>données -
            6km ou 13km
          </p>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="menu_footer">
      <img src="./assets/img/desktop/logoblanc.png" alt="logo blanc Urban Trail" />
      <div class="menu_footer_liens">
        <div class="lien">
          <a href=""><strong>Les épreuves</strong></a>
        </div>
        <div class="lien">
          <a href=""><strong>Inscrivez-vous</strong></a>
        </div>
        <div class="lien">
          <a href=""><strong>Devenir bénévole</strong></a>
        </div>
        <div class="lien">
          <a href=""><strong>Devenir Partenaire</strong></a>
        </div>
      </div>
    </div>
    <div class="lien_footer">
      <div class="colonne1">
        <p>Espace municipale</p>
        <hr />
        <p>Presse</p>
        <hr />
        <p>Eco citoyenneté</p>
        <hr />
        <p>Organisateur</p>
        <hr />
      </div>
      <div class="colonne2">
        <p>Ville du Puy</p>
        <hr />
        <p>Condition générale d'utilisation</p>
        <hr />
        <p>Mention légale</p>
        <hr />
        <p>Contact</p>
        <hr />
      </div>
      <div class="image">
        <img src="assets/img/desktop/footer.png" alt="logo footer Urban Trail" />
      </div>
    </div>
    <div class="nous_suivre">
      <p><strong>Nous Suivre</strong></p>
      <div class="resaux">
        <div class="resau">
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 455 455"
            style="enable-background: new 0 0 455 455"
            xml:space="preserve"
          >
            <path
              style="fill-rule: evenodd; clip-rule: evenodd"
              d="M0,0v455h455V0H0z M301.004,125.217H265.44
        c-7.044,0-14.153,7.28-14.153,12.696v36.264h49.647c-1.999,27.807-6.103,53.235-6.103,53.235h-43.798V385h-65.266V227.395h-31.771
        v-53.029h31.771v-43.356c0-7.928-1.606-61.009,66.872-61.009h48.366V125.217z"
            />
          </svg>
        </div>
        <div class="resau">
          <svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.3183118,0.0772036939 C18.5358869,0.132773211 19.3775594,0.311686093 20.156489,0.614412318 C20.9357539,0.917263935 21.5259307,1.30117806 22.1124276,1.88767349 C22.6988355,2.47414659 23.0827129,3.06422396 23.3856819,3.84361655 C23.688357,4.62263666 23.8672302,5.46418415 23.9227984,6.68172489 C23.9916356,8.19170553 24,8.72394829 24,11.9999742 C24,15.2760524 23.9916355,15.808302 23.9227954,17.3182896 C23.8672306,18.5358038 23.6883589,19.3773584 23.3855877,20.1566258 C23.0826716,20.9358162 22.6987642,21.5259396 22.1124276,22.1122749 C21.5259871,22.6987804 20.9357958,23.0827198 20.1563742,23.3856323 C19.3772192,23.6883583 18.5357324,23.8672318 17.3183209,23.9227442 C15.8086874,23.9916325 15.2765626,24 12,24 C8.72343739,24 8.19131258,23.9916325 6.68172382,23.9227463 C5.46426077,23.8672314 4.62270711,23.6883498 3.84342369,23.3855738 C3.0641689,23.0827004 2.47399369,22.6987612 1.88762592,22.1123283 C1.30117312,21.525877 0.91721975,20.9357071 0.614318116,20.1563835 C0.311643016,19.3773633 0.132769821,18.5358159 0.0772038909,17.3183251 C0.0083529426,15.8092887 0,15.2774634 0,11.9999742 C0,8.7225328 0.00835296697,8.19071076 0.0772047368,6.68165632 C0.132769821,5.46418415 0.311643016,4.62263666 0.614362729,3.84350174 C0.91719061,3.06430165 1.30113536,2.4741608 1.88757245,1.88772514 C2.47399369,1.30123879 3.0641689,0.917299613 3.84345255,0.614414972 C4.62236201,0.311696581 5.46409415,0.132773979 6.68163888,0.0772035898 C8.19074867,0.00835221992 8.72252573,0 12,0 C15.2774788,0 15.8092594,0.00835235053 17.3183118,0.0772036939 Z M12,2.66666667 C8.75959504,2.66666667 8.26400713,2.67445049 6.80319929,2.74109814 C5.87614637,2.78341009 5.31952221,2.90172878 4.80947575,3.09995521 C4.37397765,3.26922052 4.09725505,3.44924273 3.77324172,3.77329203 C3.44916209,4.09737087 3.26913181,4.37408574 3.09996253,4.80937168 C2.90169965,5.31965737 2.78340891,5.87618164 2.74109927,6.80321713 C2.67445122,8.26397158 2.66666667,8.75960374 2.66666667,11.9999742 C2.66666667,15.2403924 2.67445121,15.7360281 2.74109842,17.1967643 C2.78340891,18.1238184 2.90169965,18.6803426 3.09990404,19.1904778 C3.26914133,19.6259017 3.44919889,19.9026659 3.77329519,20.2267614 C4.09725505,20.5507573 4.37397765,20.7307795 4.80932525,20.8999863 C5.31971515,21.0982887 5.87621193,21.2165784 6.80323907,21.2588497 C8.26460439,21.3255353 8.76051223,21.3333333 12,21.3333333 C15.2394878,21.3333333 15.7353956,21.3255353 17.1968056,21.2588476 C18.123775,21.216579 18.6802056,21.0982995 19.1905083,20.9000309 C19.6260288,20.7307713 19.9027426,20.5507596 20.2267583,20.226708 C20.5507492,19.9027179 20.7308046,19.6259456 20.9000375,19.1906283 C21.0983009,18.6803412 21.2165908,18.1238118 21.2588986,17.196779 C21.3255376,15.7350718 21.3333333,15.2390126 21.3333333,11.9999742 C21.3333333,8.76098665 21.3255376,8.26493375 21.2589016,6.80323567 C21.2165911,5.87618164 21.0983004,5.31965737 20.9001178,4.80957831 C20.7308131,4.37403932 20.550774,4.09729207 20.2267583,3.77324038 C19.9027658,3.44924868 19.6260264,3.26922777 19.1905015,3.09996643 C18.6803988,2.90171817 18.1238378,2.78341062 17.1967608,2.74109868 C15.7359966,2.67445057 15.2404012,2.66666667 12,2.66666667 Z M12,18.2222222 C8.56356156,18.2222222 5.77777778,15.4364384 5.77777778,12 C5.77777778,8.56356156 8.56356156,5.77777778 12,5.77777778 C15.4364384,5.77777778 18.2222222,8.56356156 18.2222222,12 C18.2222222,15.4364384 15.4364384,18.2222222 12,18.2222222 Z M12,15.5555556 C13.9636791,15.5555556 15.5555556,13.9636791 15.5555556,12 C15.5555556,10.0363209 13.9636791,8.44444444 12,8.44444444 C10.0363209,8.44444444 8.44444444,10.0363209 8.44444444,12 C8.44444444,13.9636791 10.0363209,15.5555556 12,15.5555556 Z M18.2222222,7.11111111 C17.4858426,7.11111111 16.8888889,6.51415744 16.8888889,5.77777778 C16.8888889,5.04139811 17.4858426,4.44444444 18.2222222,4.44444444 C18.9586019,4.44444444 19.5555556,5.04139811 19.5555556,5.77777778 C19.5555556,6.51415744 18.9586019,7.11111111 18.2222222,7.11111111 Z"
            />
          </svg>
        </div>
        <div class="resau">
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 310 310"
            style="enable-background: new 0 0 310 310"
            xml:space="preserve"
          >
            <g id="XMLID_822_">
              <path
                id="XMLID_823_"
                d="M297.917,64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359,0-61.369,5.776-72.517,19.938
        C0,79.663,0,100.008,0,128.166v53.669c0,54.551,12.896,82.248,83.386,82.248h143.226c34.216,0,53.176-4.788,65.442-16.527
        C304.633,235.518,310,215.863,310,181.835v-53.669C310,98.471,309.159,78.006,297.917,64.645z M199.021,162.41l-65.038,33.991
        c-1.454,0.76-3.044,1.137-4.632,1.137c-1.798,0-3.592-0.484-5.181-1.446c-2.992-1.813-4.819-5.056-4.819-8.554v-67.764
        c0-3.492,1.822-6.732,4.808-8.546c2.987-1.814,6.702-1.938,9.801-0.328l65.038,33.772c3.309,1.718,5.387,5.134,5.392,8.861
        C204.394,157.263,202.325,160.684,199.021,162.41z"
              />
            </g>
          </svg>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright 2021- le puy urban trail</p>
    </div>
  </footer>
</body>
