<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./dist/main.css" />
</head>
  <body>
    <section>
      <div class="container-section">
        <div class="header-section">
          <h2 id="partner-title">
              Ils soutiennent le Puy urban trail vous aussi devenez <span>partenaire</span>
          </h2>
        </div>
        <div class="container-partenaires">
          <div class="element-partenaire">
            <div class="container-img">
              <img class="logo-partner"
                src="./assets/img/desktop/intersportLogo.png"
                alt="Une image de coureurs qui descendent des escaliers"
              />
            </div>
          </div>
          <div class="element-flex">
            <div class="container-img">
              <img class="logo-partner"
                src="./assets/img/desktop/auvergneLogo.png"
                alt="Un homme déterminé qui court"
              />
            </div>
          </div>
          <div class="element-flex">
            <div class="container-img">
              <img class="logo-partner"
                src="./assets/img/desktop/rocherLogo.png"
                alt="Une course dans l'herbe"
              />
          </div>
        </div>
          <div class="element-flex">
            <div class="container-img">
              <img class="logo-partner"
                src="./assets/img/desktop/lePuyPartenaire.png"
                alt="Une course dans l'herbe"
              />
          </div>
        </div>
    </div>
    <div class="container-seeMore">
      <a href="#" id="becomePartner" class="seeMore">Devenez partenaire</a>
    </div>
    </section>
  </body>
  