<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./dist/main.css" />
</head>
<body>
  <section class="section-search">
    <div class="container-search">
      <h2>Votre recherche</h2>
      <div class="form-search">
        <span class="search-contain">
          <input type="text" />
          <button class="submit-button">Rechercher</button>
        </span>
      </div>
      <div class="container-logo-blanc">
        <img
          src="./assets/img/desktop/logoblanc.png"
          alt="logo blanc de l'urban trail"
        />
      </div>
    </div>
  </section>
</body>
