.date {
  font-weight: bold;
  margin-bottom: 5px;
}
.container-seeMore {
  text-align: center;
  margin-top: 50px;
}
.seeMore {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;
  text-transform: uppercase;
  position: relative;
  &::after {
    content: "";
    height: 10px;
    width: 55%;
    bottom: 6px;
    left: -10px;
    background: $jaune;
    z-index: -1;
    position: absolute;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
  }
  &:hover:after {
    width: 120%;
  }
}
