.container-image {
  position: relative;
  .desChiffresFond {
    width: 100vw;
  }
  .superposition {
    position: absolute;
    background: rgba($color: #000000, $alpha: 0.15);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .flex-chiffres {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    .bloc-chiffre {
      color: white;
      font-weight: bold;
      .chiffre {
        font-family: "Womby", sans-serif;
        text-align: center;
        font-size: 8vw;
        letter-spacing: 0.1em;
      }
      .donnees {
        font-family: "Catamaran", sans-serif;
        font-size: 2vw;
        text-transform: uppercase;
        color: #eee;
      }
    }
  }
}
