.aout {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  color: $bleu;
  font-family: "Catamaran", sans-serif;
  font-weight: bold;
  font-size: 12vw;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
