.container-flex {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .element-flex {
    img {
      height: 220px;
      object-fit: cover;
      border-radius: 10px;
    }
    .container-text {
      box-shadow: 0px 3px 10px #bbb;
      padding: 20px;
      height: 170px;
      position: relative;
      font-family: "Catamaran", sans-serif;
      h3 {
        font-size: 1.3em;
        line-height: 1em;
        text-transform: uppercase;
        font-weight: bolder;
        margin-bottom: 10px;
      }
      p {
        font-size: 0.9em;
      }
      button {
        position: absolute;
        font-size: 30px;
        font-weight: bold;
        bottom: 3px;
        right: 10px;
        background: transparent;
        border: none;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .container-flex {
    flex-direction: column;
    align-items: center;
    .element-flex {
      margin-bottom: 80px;
      img {
        height: auto;
        width: 400px;
      }
      .container-text {
        padding: 30px;
        height: 200px;
        p {
          font-size: 1.1em;
        }
      }
    }
  }
}
