section {
  .container-section {
    padding: 5%;
    font-family: "Catamaran";
    h2 {
      text-transform: uppercase;
      margin-bottom: 20px;
      font-size: 2.2em;
    }
    p {
      line-height: 1.4em;
      font-size: 1.2em;
    }
    .epreuves-section {
      margin-top: 40px;
      text-align: center;
      .epreuve {
        p {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 1.8em;
          margin-bottom: 25px;
          transition: 0.4s ease-in-out;
          cursor: pointer;
          display: inline-block;
          &:hover {
            transform: rotate(5deg);
            font-size: 2em;
          }
          &:hover .underline-span {
            background: transparent;
          }
          &:nth-child(2):hover {
            color: red;
          }
        }
        .p-yellow:hover {
          color: $jaune;
        }
        .p-blue:hover {
          color: $bleu;
        }
        .p-red:hover {
          color: $rouge;
        }
        .p-purple:hover {
          color: $violet;
        }
        .p-green:hover {
          color: $vert;
        }
      }
      .urban-yellow {
        background: $jaune;
      }
      .dupuy-blue {
        background: $bleu;
      }
      .seigneurs-red {
        background: $rouge;
      }
      .kids-violet {
        background: $violet;
      }
      .lesran-green {
        background: $vert;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  section {
    .container-section {
      h2 {
        text-align: center;
      }
      .epreuves-section {
        .epreuve {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}
