section {
  font-family: "Catamaran", sans-serif;
  .container-page-epreuve1 {
    margin-bottom: 100px;
    .bloc-img-urban {
      text-align: center;
      position: relative;
      .container-h1 {
        text-align: center;
        position: absolute;
        bottom: -120px;
        font-size: calc(1em + 3vw);
        left: 50%;
        transform: translateX(-50%);
        h1 {
          display: inline;
          background: $jaune;
          text-transform: uppercase;
          line-height: 2.2em;
        }
      }
    }
    .urban-flex-container {
      display: flex;
      justify-content: center;
      padding-left: 100px;
      .urban-flex {
        width: 50%;
        padding-top: 100px;
      }
      .bloc1 {
        h2 {
          font-size: calc(1em + 2vw);
          text-transform: uppercase;
        }
        .facile-ideal {
          text-transform: uppercase;
          font-size: 1.3em;
          line-height: 1.2em;
          font-weight: bold;
        }
        p {
          line-height: 1.2em;
          width: 80%;
          font-size: calc(0.5em + 1vw);
        }
        .social-medias {
          display: flex;
          .share-social {
            font-weight: bold;
          }
          .reseaux {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            .reseau {
              margin-right: 5px;
              svg {
                width: 25px;
                height: 15px;
              }
            }
          }
        }
      }
      .bloc2 {
        background: $bleu;
        color: white;
        border-bottom-right-radius: 50%;
        padding-left: 15%;
        @media screen and (max-width: 992px) {
          padding-left: auto;
          width: 50%;
        }
        p:nth-child(even) {
          font-weight: bold;
          font-size: calc(0.7em + 0.9vw);
          text-transform: uppercase;
          margin-bottom: 20px;
          width: 70%;
        }
        p:nth-child(2n-1) {
          font-size: calc(0.6em + 0.8vw);
          color: rgba($color: #fff, $alpha: 0.6);
        }
        button {
          border: 1px solid white;
          border-radius: 20px;
          background: transparent;
          text-transform: uppercase;
          color: white;
          padding: 0px 8px;
          font-weight: bold;
          font-family: "Catamaran", sans-serif;
          line-height: 1.4em;
          cursor: pointer;
        }
      }
    }
  }
}
.container-medical {
  .flex-epreuve {
    display: flex;
    justify-content: space-around;
    padding: 0 10vw;
    margin-bottom: 50px;
    .bloc-epreuve {
      background: #f3f3f3;
      padding: 15px 30px;
      width: 40%;
      z-index: -1;
      h2 {
        font-family: "Womby", sans-serif;
        font-weight: normal;
        font-size: calc(2vw + 1em);
        line-height: 1.3em;
        margin-bottom: 20px;
      }
      p {
        line-height: 1.2em;
        font-size: calc(0.6vw + 0.7em);
      }
      .telecharger {
        text-transform: uppercase;
        font-family: "Womby", sans-serif;
        font-weight: normal;
        font-size: 0.9em;
      }
      .certificat {
        text-align: center;
      }
    }
    .image-epreuve {
      img {
        width: calc(300px + 15vw);
      }
    }
  }
}
@media screen and (max-width: 992px) {
  section {
    .container-page-epreuve1 {
      .bloc-img-urban {
        img {
          width: 100%;
        }
        .container-h1 {
          margin-bottom: 50px;
        }
      }
      .urban-flex-container {
        flex-direction: column;
        padding: 0;
        .urban-flex {
          width: 100%;
        }
        .bloc1 {
          padding: 100px 5vw 20px 15vw;
        }
        .bloc2 {
          border-bottom-right-radius: 10%;
          margin: 50px 0;
          padding-bottom: 50px;
        }
      }
    }
    .container-medical {
      .flex-epreuve {
        flex-direction: column;
        .bloc-epreuve {
          width: 100%;
        }
        .image-epreuve {
          img {
            width: 100%;
          }
        }
      }
      .reverse {
        flex-direction: column-reverse;
      }
    }
  }
}
