#partner-title {
  text-transform: none;
  text-align: center;
  font-size: calc(15px + 2.5vw);
  span {
    position: relative;
    z-index: 5;
    text-decoration: underline;
    &::before {
      content: "";
      position: absolute;
      background: $jaune;
      height: 25px;
      width: 100%;
      bottom: 30%;
      left: 0;
      z-index: -1;
    }
  }
}
body {
  section {
    .container-section {
      .container-partenaires {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        .element-partner {
          .logo-partner {
            width: 220px;
            object-fit: contain;
          }
        }
      }
    }
  }
}
.logo-partner {
  width: calc(8vw + 100px);
  object-fit: contain;
}
#becomePartner {
  font-size: calc(2vw + 10px);
}
#becomePartner:hover:after {
  width: 105%;
}
@media screen and (max-width: 768px) {
  body {
    section {
      .container-section {
        .container-partenaires {
          padding: 0 70px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 20px;
          text-align: center;
        }
      }
    }
  }
}
