.section-search {
  & > * {
    text-transform: uppercase;
    color: white;
  }
  background: $bleu;
  .container-search {
    padding-top: 50px;
    h2 {
      text-align: center;
      font-family: "Catamaran", sans-serif;
      font-size: calc(12px + 3vw);
    }
    .form-search {
      text-align: center;
      margin-top: 100px;
      .search-contain {
        border-bottom: 2px solid white;
        padding-bottom: 5px;
        input[type="text"] {
          background: none;
          outline: none;
          border: none;
          text-transform: uppercase;
          color: white;
          width: calc(130px + 15vw);
          font-family: "Catamaran", sans-serif;
          font-size: 1.5em;
        }
        .submit-button {
          @extend input[type="text"];
          width: auto;
          text-transform: uppercase;
          font-weight: bold;
          font-size: calc(12px + 0.8vw);
          display: inline-block;
        }
      }
    }
    .container-logo-blanc {
      text-align: center;
      margin-top: 200px;
      img {
        width: 70px;
        padding-bottom: 100px;
      }
    }
  }
}
