// font-family: 'Womby', sans-serif;
@import url("http://fonts.cdnfonts.com/css/womby");

// font-family: 'Catamaran', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;800&display=swap");
