@import url("http://fonts.cdnfonts.com/css/womby");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap");
::before,
::after,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: red;
}

section .container-section h2 {
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */