::before,
::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@import "./styles/utils/fonts";
@import "./styles/utils/variables";
@import "./styles/layout/header";
@import "./styles/pages/main";
@import "./styles/pages/lesEpreuves";
@import "./styles/pages/evenements";
@import "./styles/pages/actualites";
@import "./styles/pages/desChiffres";
@import "./styles/pages/elementsPuy";
@import "./styles/pages/partenaires";
@import "./styles/pages/recherche";
@import "./styles/layout/footer";
@import "./styles/pages/pageEpreuveUrban";
